# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv
ENV/

# Build
dist/
build/
*.egg-info/
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Data
data/songs/*.mlc
data/songs/*.mp3

# Logs
*.log

